// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-container {
  .clr { clear: both;}
  line-height: 1;
  margin: 50px auto;
  width: 600px;
  height: 460px;
  background: #fff;
  padding: 40px;

  .join {
    color: #222;
    font-size: 44px;
    font-weight:700;
    float: left;
    text-shadow: 1px 0 1px #777;
  }
  .login-options {
    margin-top: 15px;
    color: #9c9c9c;
    margin-bottom: 25px;
  }
  .oauth {
    &.has-tip {
      cursor: not-allowed;
    }

    display: inline-block;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    width: 160px;
    height:40px;
    padding-top: 8px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-right: 0;
    margin-left: 0;
    border: 0px solid #178bb6;
    &.twitter {
      background: #1daee3;
      &:before {
        left: -27px;
        background: image-url('twitter.png') no-repeat center center #1ca4d6;
        background-size: 29px 24px;
      }
      &:hover, &:focus {
        color: #ffffff;
        background: #1ca4d6;
      }
      &:active {
        background: #1daee3;
      }
    }
    &.github {
      margin-right: 15px;
      margin-left: 15px;
      background: #333;
      &:before {
        left: -28px;
        background: image-url('github.png') no-repeat center center #000000;
        background-size: 40px 40px;
      }
      &:hover, &:focus {
        color: #fff;
        background: #000;
      }
      &:active {
        background: #333;
      }
    }
    &.dropbox {
      background: #3695ea;
      &:before {
        left: -24px;
        background: image-url('dropbox.png') no-repeat center center;
        background-size: 40px 40px;
      }
      &:hover, &:focus {
        background: #007ee6;
        color: #ffffff;
      }
      &:active {
        background: #3695ea;
      }
    }
    &:hover, &:focus {
      text-decoration: none;
    }
    &:before {
      content:  "\0000a0";
      display: inline-block;
      height: 40px;
      width: 45px;
      line-height: 24px;
      margin: 0 4px -6px -4px;
      position: relative;
      padding-left: 10px;
      top: -8px;
    }
  }
  .clr hr {
    border: 1px solid #e9e9e9;
    margin:25px 0;
  }
  .forms {
    margin-top: 20px;
    width: 520px;
  }
  .forms input {
    border: 1px solid #d9d9d9 !important;
    color: #bebebe;
    padding: 7px 0px 7px 50px;
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    margin-bottom: 15px;
  }
  .forms input:focus {
    -moz-box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    -webkit-box-shadow: 0 0 5px rgba(48, 168, 218, 1); 
    box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    border: 1px solid rgba(48, 168, 218, 1) !important; 
  }
  .forms #username {
    background: image-url('icons/person.png') no-repeat left center;
    background-position: 10px 10px;
    border-right: 1px solid #f1f1f1;
  }
  .forms #password {
    background: image-url('icons/key.png') no-repeat left center;
    background-position: 10px 10px;
    border-right: 1px solid #f1f1f1;
  }
}
