<div id="login-container">
  <div class="join">Join Footbook</div>
  <div class="clr"></div>
  <div class="login-options">Choose one of the following sign up methods.</div>
  <a class="twitter oauth" data-tooltip href="/auth/twitter">Twitter</a>
  <a class="github oauth" data-tooltip href="/auth/github">Github</a>
  <a class="dropbox oauth" data-tooltip href="/auth/dropbox_oauth2">Dropbox</a>
  <div class="clr"><hr /></div>
  <div class="mail-text">Login or sign up:</div>
  <div class="forms">
    <form action="" method="get" name="register">
      <input name="account" type="text" placeholder="Enter your account..." size="70" id="username"/>
      <input name="password" type="password" placeholder="Enter a password..." size="70" id="password"/>
    </form>
  </div>
  <a class="button warning create-button" href="#">Create Account</a>
</div>

<script>this.Login.bind()</script>
